@charset "UTF-8";
@import url("http://fonts.cdnfonts.com/css/proxima-nova-2%27");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
.headerSec .maincontainer .headLogo {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.headerSec .maincontainer .navSec {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 100px 0;
}
@media screen and (max-width: 1155px) {
  .headerSec .maincontainer .navSec {
    margin-right: 20px;
    justify-content: space-around;
  }
}
@media screen and (max-width: 938px) {
  .headerSec .maincontainer .navSec {
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 900px) {
  .headerSec .maincontainer .navSec {
    justify-content: center;
  }
}
@media screen and (max-width: 900px) {
  .headerSec .maincontainer .navSec .searchsec button i {
    margin-right: 20px;
    background: none;
  }
}
.headerSec .maincontainer .navSec .linkSec ul {
  display: flex;
}
@media screen and (max-width: 900px) {
  .headerSec .maincontainer .navSec .linkSec ul {
    display: none;
  }
}
.headerSec .maincontainer .navSec .linkSec ul li {
  margin-right: 40px;
}
@media screen and (max-width: 1155px) {
  .headerSec .maincontainer .navSec .linkSec ul li {
    margin-right: 20px;
  }
}
@media screen and (max-width: 938px) {
  .headerSec .maincontainer .navSec .linkSec ul li {
    margin-bottom: 10px;
  }
}
.headerSec .maincontainer .navSec .linkSec ul li a {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #0A0A0A;
}
.headerSec .maincontainer .navSec .linkSec ul li:last-child {
  margin-right: 0;
}
.headerSec .maincontainer .navSec .cartSec a {
  background: none;
  margin-left: 20px;
}
@media screen and (max-width: 1155px) {
  .headerSec .maincontainer .navSec .cartSec a {
    margin-left: 10px;
  }
}
@media screen and (max-width: 900px) {
  .headerSec .maincontainer .navSec .cartSec a {
    margin-right: 20px;
  }
}

.bannerFirst {
  background: url(../images/banner-first.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  padding: 50px 0;
}
.bannerFirst .maincontainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.bannerFirst .maincontainer .newGenerationSec {
  width: 58%;
  padding: 50px;
  background: rgba(0, 0, 0, 0.36);
}
@media screen and (max-width: 1155px) {
  .bannerFirst .maincontainer .newGenerationSec {
    margin: auto;
    padding: 20px;
    height: 100%;
  }
}
@media screen and (max-width: 900px) {
  .bannerFirst .maincontainer .newGenerationSec {
    width: 100%;
    padding: 20px;
    margin: 20px;
  }
}
.bannerFirst .maincontainer .newGenerationSec h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #111010;
  font-size: 32px;
  color: #FFFFFF;
  margin: 20px 0;
}
@media screen and (max-width: 1155px) {
  .bannerFirst .maincontainer .newGenerationSec h3 {
    margin: 50px;
    font-size: 42px;
    text-align: center;
  }
}
@media screen and (max-width: 900px) {
  .bannerFirst .maincontainer .newGenerationSec h3 {
    font-size: 32px;
  }
}
.bannerFirst .maincontainer .newGenerationSec p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ECECEC;
  margin-bottom: 55px;
}
@media screen and (max-width: 900px) {
  .bannerFirst .maincontainer .newGenerationSec p {
    width: 80%;
    margin: auto;
    text-align: justify;
  }
}
.bannerFirst .maincontainer .newGenerationSec .button {
  text-align: left;
  display: block;
}
@media screen and (max-width: 900px) {
  .bannerFirst .maincontainer .newGenerationSec .button {
    text-align: center;
    margin: 50px;
    width: 25%;
    margin: auto;
  }
}
@media screen and (max-width: 414px) {
  .bannerFirst .maincontainer .newGenerationSec .button {
    text-align: center;
    width: 55%;
    margin: auto;
  }
}
.bannerFirst .maincontainer .newGenerationSec .button a {
  margin-top: 20px;
  color: #000000;
  background-color: #FFFFFF;
  padding: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  display: inherit;
  text-align: center;
}
@media screen and (max-width: 900px) {
  .bannerFirst .maincontainer .newGenerationSec .button a {
    padding: 15px;
    margin-top: 20px;
    width: 200px;
    font-size: larger;
    text-align: center;
  }
}
@media screen and (max-width: 414px) {
  .bannerFirst .maincontainer .newGenerationSec .button a {
    padding: 10px;
    margin-top: 20px;
    font-size: larger;
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Proxima Nova", sans-serif;
  text-decoration: none;
}

.maincontainer {
  max-width: 1140px;
  margin: auto;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  button {
    background: none;
  }
}

i {
  color: #0A0A0A;
  font-size: larger;
}

.button button,
.button a {
  width: 150px;
  padding: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #111010;
  color: #FFFFFF;
}
@media screen and (max-width: 414px) {
  .button button,
.button a {
    padding: 10px;
    margin-top: 20px;
    width: 80%;
    font-size: larger;
  }
}

html {
  scroll-behavior: smooth;
}

.CheckoutPage {
  flex-basis: 35%;
  padding: 30px 20px;
  background: #FAFAFA;
}
@media screen and (max-width: 900px) {
  .CheckoutPage {
    width: 100%;
    margin: auto;
  }
}
@media screen and (max-width: 414px) {
  .CheckoutPage {
    padding: 10px;
  }
}
.CheckoutPage .Optional span:nth-child(1) {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #111010;
  font-size: 16px;
  color: #151515;
}
.CheckoutPage .Optional span:nth-child(2) {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #111010;
  font-size: 12px;
  color: #A7A7A7;
  margin: 0 52px 0 7px;
}
.CheckoutPage .Redeem {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
.CheckoutPage .Redeem input {
  width: 150px;
  outline: none;
  padding: 10px 0 10px 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #111010;
  font-size: 16px;
  color: #151515;
  border: 1px solid black;
}
@media screen and (max-width: 900px) {
  .CheckoutPage .Redeem input {
    flex-basis: 60%;
    width: 0;
  }
}
@media screen and (max-width: 414px) {
  .CheckoutPage .Redeem input {
    flex-basis: 50%;
  }
}
.CheckoutPage .Redeem .button {
  text-align: right;
}
@media screen and (max-width: 900px) {
  .CheckoutPage .Redeem .button {
    flex-basis: 40%;
    margin: 0;
  }
}
.CheckoutPage .Redeem .button button {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #0A0A0A;
  color: #FFFFFF;
  width: 85%;
  text-transform: capitalize;
}
@media screen and (max-width: 900px) {
  .CheckoutPage .Redeem .button button {
    width: 80%;
    margin-left: 30px;
  }
}
@media screen and (max-width: 414px) {
  .CheckoutPage .Redeem .button button {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
  }
}
.CheckoutPage .Subtotal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.CheckoutPage .Subtotal .ship p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #151515;
  line-height: 14px;
}
.CheckoutPage .Subtotal .ship span {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  font-size: 14px;
  color: #A7A7A7;
}
.CheckoutPage .Subtotal .sar {
  text-align: right;
}
.CheckoutPage .Subtotal .sar p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  font-size: 16px;
  color: #151515;
  line-height: 14px;
}
.CheckoutPage .Subtotal .sar span {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  font-size: 12px;
  color: #A7A7A7;
}
.CheckoutPage .VAT {
  display: flex;
  justify-content: space-between;
  margin: 45px 0 23px 0;
}
.CheckoutPage .button {
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 900px) {
  .CheckoutPage .button {
    width: 100%;
    margin: auto;
  }
}
.CheckoutPage .button a {
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #0A0A0A;
  display: block;
  color: #FFFFFF;
  text-transform: capitalize;
}
@media screen and (max-width: 900px) {
  .CheckoutPage .button a {
    width: 80%;
    margin: auto;
  }
}

.productsSec {
  background-image: url(../images/product-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 50px;
}
.productsSec .maincontainer .container {
  margin-bottom: 100px;
}
.productsSec .maincontainer .container p {
  text-align: center;
  width: 60%;
  margin: auto;
  line-height: 30px;
  margin-bottom: 40px;
}
.productsSec .maincontainer .container h3 {
  text-align: center;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #111010;
}
.productsSec .maincontainer .container h3::after {
  content: "";
  border: 2px solid #c4c4c4;
  width: 180px;
  display: block;
  margin: auto;
  margin-top: 10px;
}
.productsSec .maincontainer .container .productImg {
  height: 100%;
}
.productsSec .maincontainer .container img {
  width: 100%;
  height: 100%;
}
.productsSec .maincontainer .container .item-a {
  grid-area: header;
  position: relative;
  height: 100%;
}
@media screen and (max-width: 900px) {
  .productsSec .maincontainer .container .item-a {
    margin-bottom: 40px;
  }
}
.productsSec .maincontainer .container .item-b {
  grid-area: main;
  position: relative;
  height: 100%;
}
@media screen and (max-width: 900px) {
  .productsSec .maincontainer .container .item-b {
    margin-bottom: 40px;
  }
}
.productsSec .maincontainer .container .item-c {
  grid-area: sidebar;
  position: relative;
  height: 100%;
}
@media screen and (max-width: 900px) {
  .productsSec .maincontainer .container .item-c {
    margin-bottom: 40px;
  }
}
.productsSec .maincontainer .container .item-d {
  grid-area: footer;
  position: relative;
  height: 100%;
}
@media screen and (max-width: 900px) {
  .productsSec .maincontainer .container .item-d {
    margin-bottom: 40px;
  }
}
.productsSec .maincontainer .container .grid-container {
  display: grid;
  align-items: end;
  grid-template-columns: 42% 1fr 31%;
  grid-template-rows: auto;
  column-gap: 20px;
  row-gap: 60px;
  grid-template-areas: "header main sidebar " "header main footer";
}
@media screen and (max-width: 900px) {
  .productsSec .maincontainer .container .grid-container {
    display: block;
    padding: 20px;
  }
}
.productsSec .maincontainer .container .bathroom {
  border: 2px solid white;
  background-color: #111010;
  padding: 5px;
  position: absolute;
  width: 90%;
  bottom: -23px;
  left: 0;
  right: 0;
  margin: auto;
}
@media screen and (max-width: 900px) {
  .productsSec .maincontainer .container .bathroom {
    position: static;
    width: 100%;
    padding: 20px;
  }
}
.productsSec .maincontainer .container .bathroom p {
  margin: 0;
  width: 100%;
  text-align: center;
  color: #B4B4B4;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  line-height: 20px;
  font-size: 12px;
}
@media screen and (max-width: 900px) {
  .productsSec .maincontainer .container .bathroom p {
    font-size: 28px;
    line-height: 40px;
  }
}
@media screen and (max-width: 414px) {
  .productsSec .maincontainer .container .bathroom p {
    font-size: 20px;
    line-height: 40px;
  }
}
.productsSec .maincontainer .container .bathroom h4 {
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 10px;
}
@media screen and (max-width: 900px) {
  .productsSec .maincontainer .container .bathroom h4 {
    font-size: 38px;
    margin-bottom: 20px;
  }
}

.creativeSec {
  background-image: url(../images/creative-BGFirst.png);
  background-position: top;
  background-repeat: no-repeat;
  background-image: url(../images/creative-BGsecond.png);
  background-position: bottom;
  background-repeat: no-repeat;
}
.creativeSec .maincontainer {
  margin-bottom: 100px;
}
.creativeSec .maincontainer img {
  width: 100%;
}
@media screen and (max-width: 900px) {
  .creativeSec .maincontainer img {
    padding: 20px;
  }
}
.creativeSec .maincontainer .creative {
  grid-area: first;
  width: 100%;
}
.creativeSec .maincontainer .creative h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #111010;
  font-size: 35px;
  margin-bottom: 20px;
}
@media screen and (max-width: 900px) {
  .creativeSec .maincontainer .creative h3 {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
  }
}
.creativeSec .maincontainer .creative p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  font-size: 18px;
  color: #616161;
}
@media screen and (max-width: 900px) {
  .creativeSec .maincontainer .creative p {
    width: 80%;
    margin: auto;
    text-align: center;
  }
}
@media screen and (max-width: 900px) {
  .creativeSec .maincontainer .creative {
    padding: 20px;
    text-align: center;
  }
}
.creativeSec .maincontainer .creative-a {
  grid-area: second;
}
.creativeSec .maincontainer .creative-b {
  grid-area: third;
}
.creativeSec .maincontainer .creative-c {
  grid-area: fourth;
}
.creativeSec .maincontainer .creative-d {
  grid-area: five;
  position: relative;
}
.creativeSec .maincontainer .creative-d img {
  height: 100%;
  width: 100%;
}
.creativeSec .maincontainer .creative-d .play {
  width: 200px;
  background-color: #FFFFFF;
  position: absolute;
  padding: 20px;
  bottom: 4px;
  margin: auto;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 900px) {
  .creativeSec .maincontainer .creative-d .play {
    width: 30%;
  }
}
@media screen and (max-width: 414px) {
  .creativeSec .maincontainer .creative-d .play {
    width: 30%;
    position: static;
  }
}
.creativeSec .maincontainer .creative-d .play .watch {
  width: 75px;
}
@media screen and (max-width: 900px) {
  .creativeSec .maincontainer .creative-d .play .watch {
    width: 100%;
  }
}
.creativeSec .maincontainer .creative-d .play img {
  width: 50px;
}
@media screen and (max-width: 900px) {
  .creativeSec .maincontainer .creative-d .play img {
    width: 100px;
  }
}
@media screen and (max-width: 900px) {
  .creativeSec .maincontainer .creative-d .play {
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}
.creativeSec .maincontainer .button {
  grid-area: six;
  text-align: center;
}
@media screen and (max-width: 900px) {
  .creativeSec .maincontainer .button {
    margin: auto;
    margin-top: 30px;
  }
}
.creativeSec .maincontainer .button button {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #111010;
  color: #FFFFFF;
}
@media screen and (max-width: 900px) {
  .creativeSec .maincontainer .button button {
    padding: 20px;
    margin-top: 20px;
    width: 50%;
    font-size: larger;
  }
}
@media screen and (max-width: 414px) {
  .creativeSec .maincontainer .button button {
    padding: 10px;
    margin-top: 20px;
    width: 80%;
    font-size: larger;
  }
}
.creativeSec .maincontainer .creativeGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 30%;
  grid-template-rows: auto;
  column-gap: 40px;
  row-gap: 20px;
  align-items: flex-end;
  grid-template-areas: "first first . five " "second third fourth five" "six . . five";
}
@media screen and (max-width: 900px) {
  .creativeSec .maincontainer .creativeGrid {
    display: block;
  }
}

.bannerSecond {
  background: none;
}
.bannerSecond .maincontainer .imgcontainer {
  background: url(../images/banner-second.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px 0;
  height: 400px;
  width: 90%;
  margin: auto;
  margin-right: 0;
  position: relative;
}
@media screen and (max-width: 900px) {
  .bannerSecond .maincontainer .imgcontainer {
    position: static;
    margin: auto;
    padding: 20px;
  }
}
.bannerSecond .maincontainer .imgcontainer .newGenerationSec {
  background-color: #F7F7F7;
  position: absolute;
  padding: 20px;
  left: -100px;
  width: 55%;
  bottom: 32px;
}
@media screen and (max-width: 900px) {
  .bannerSecond .maincontainer .imgcontainer .newGenerationSec {
    position: static;
    width: 60%;
    margin: auto;
  }
}
@media screen and (max-width: 586px) {
  .bannerSecond .maincontainer .imgcontainer .newGenerationSec {
    position: static;
    width: 100%;
    margin: auto;
  }
}
.bannerSecond .maincontainer .imgcontainer .newGenerationSec h3 {
  color: #111010;
}
@media screen and (max-width: 900px) {
  .bannerSecond .maincontainer .imgcontainer .newGenerationSec h3 {
    margin: 0px;
  }
}
.bannerSecond .maincontainer .imgcontainer .newGenerationSec p {
  color: #616161;
}
@media screen and (max-width: 900px) {
  .bannerSecond .maincontainer .imgcontainer .newGenerationSec p {
    text-align: center;
    font-size: 16px;
  }
}
.bannerSecond .maincontainer .imgcontainer .newGenerationSec .button {
  text-align: left;
}
@media screen and (max-width: 900px) {
  .bannerSecond .maincontainer .imgcontainer .newGenerationSec .button {
    text-align: center;
    width: 50%;
    margin-top: 20px;
  }
}
@media screen and (max-width: 414px) {
  .bannerSecond .maincontainer .imgcontainer .newGenerationSec .button {
    width: 100%;
    margin-top: 0px;
  }
}
.bannerSecond .maincontainer .imgcontainer .newGenerationSec .button button {
  width: 120px;
  margin: 0 0 20px 0;
  background-color: #000000;
  color: #FFFFFF;
}
@media screen and (max-width: 900px) {
  .bannerSecond .maincontainer .imgcontainer .newGenerationSec .button button {
    margin-top: 0;
    padding: 10px;
    font-size: larger;
    width: 100%;
  }
}
@media screen and (max-width: 414px) {
  .bannerSecond .maincontainer .imgcontainer .newGenerationSec .button button {
    padding: 10px;
    width: 80%;
    font-size: larger;
    margin-top: 0px;
  }
}

.bannerThree {
  margin-bottom: 100px;
  background-image: url(../images/showroomBG.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
.bannerThree .maincontainer .Shoroomcontainer {
  display: flex;
  position: relative;
}
.bannerThree .maincontainer .Shoroomcontainer .showroom {
  width: 60%;
}
@media screen and (max-width: 900px) {
  .bannerThree .maincontainer .Shoroomcontainer .showroom {
    width: 100%;
    padding: 20px;
  }
}
.bannerThree .maincontainer .Shoroomcontainer .showroom img {
  width: 100%;
}
@media screen and (max-width: 900px) {
  .bannerThree .maincontainer .Shoroomcontainer .showroom {
    margin: auto;
  }
}
@media screen and (max-width: 900px) {
  .bannerThree .maincontainer .Shoroomcontainer {
    display: block;
    margin: auto;
  }
}
.bannerThree .maincontainer .Shoroomcontainer .newGenerationSec {
  background-color: #F9F9f9;
  width: 45%;
  height: 70%;
  top: 0;
  margin: auto;
  bottom: 0;
  right: 25px;
  padding: 65px;
  position: absolute;
}
@media screen and (max-width: 900px) {
  .bannerThree .maincontainer .Shoroomcontainer .newGenerationSec {
    position: static;
    width: 100%;
    padding: 20px;
    margin: auto;
  }
}
.bannerThree .maincontainer .Shoroomcontainer .newGenerationSec h3 {
  color: #111010;
}
@media screen and (max-width: 900px) {
  .bannerThree .maincontainer .Shoroomcontainer .newGenerationSec h3 {
    margin-bottom: 40px;
    font-size: 38px;
  }
}
.bannerThree .maincontainer .Shoroomcontainer .newGenerationSec p {
  color: #616161;
}
@media screen and (max-width: 900px) {
  .bannerThree .maincontainer .Shoroomcontainer .newGenerationSec p {
    text-align: center;
    font-size: 16px;
    width: 70%;
    margin: auto;
    font-size: 22px;
  }
}
.bannerThree .maincontainer .Shoroomcontainer .newGenerationSec .button {
  text-align: left;
}
@media screen and (max-width: 900px) {
  .bannerThree .maincontainer .Shoroomcontainer .newGenerationSec .button {
    text-align: center;
  }
}
@media screen and (max-width: 414px) {
  .bannerThree .maincontainer .Shoroomcontainer .newGenerationSec .button {
    width: 100%;
  }
}
.bannerThree .maincontainer .Shoroomcontainer .newGenerationSec .button button {
  width: 120px;
  margin: 40px 0;
  background-color: #000000;
  color: #FFFFFF;
}
@media screen and (max-width: 900px) {
  .bannerThree .maincontainer .Shoroomcontainer .newGenerationSec .button button {
    margin-top: 20px;
    padding: 20px;
    width: 50%;
    font-size: larger;
  }
}
@media screen and (max-width: 414px) {
  .bannerThree .maincontainer .Shoroomcontainer .newGenerationSec .button button {
    padding: 10px;
    margin-top: 20px;
    width: 80%;
    font-size: larger;
  }
}

.projects {
  margin-bottom: 100px;
}
.projects .maincontainer .project-container h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #111010;
  font-size: 35px;
  margin-bottom: 20px;
  text-align: center;
}
.projects .maincontainer .project-container p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  font-size: 18px;
  color: #616161;
  text-align: center;
  width: 60%;
  margin: auto;
  margin-bottom: 60px;
}
@media screen and (max-width: 900px) {
  .projects .maincontainer .project-container p {
    margin-bottom: 20px;
  }
}
.projects .maincontainer .project-container .button {
  text-align: center;
  margin: auto;
}
@media screen and (max-width: 900px) {
  .projects .maincontainer .project-container .button button {
    margin-top: 20px;
    padding: 20px;
    width: 50%;
    font-size: larger;
  }
}
@media screen and (max-width: 414px) {
  .projects .maincontainer .project-container .button button {
    padding: 10px;
    margin-top: 20px;
    width: 80%;
    font-size: larger;
  }
}
.projects .maincontainer .project-container .towerSec {
  display: flex;
}
@media screen and (max-width: 900px) {
  .projects .maincontainer .project-container .towerSec {
    display: block;
    padding: 20px;
  }
}
.projects .maincontainer .project-container .towerSec .mallSec {
  flex-basis: 25%;
  margin-bottom: 20px;
  margin-right: 20px;
}
@media screen and (max-width: 900px) {
  .projects .maincontainer .project-container .towerSec .mallSec {
    margin-right: 0;
  }
}
.projects .maincontainer .project-container .towerSec .mallSec img {
  width: 100%;
}
.projects .maincontainer .project-container .towerSec .mallSec:last-child {
  margin-right: 0;
}
.projects .maincontainer .project-container .towerSec .mallSec .tower {
  margin: 20px 0;
}
.projects .maincontainer .project-container .towerSec .mallSec .tower h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #111010;
  text-align: center;
}
@media screen and (max-width: 900px) {
  .projects .maincontainer .project-container .towerSec .mallSec .tower h5 {
    font-size: 28px;
    margin: 20px 0;
  }
}
.projects .maincontainer .project-container .towerSec .mallSec .tower p {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #111010;
  font-size: 12px;
  color: rgba(17, 16, 16, 0.5);
}
@media screen and (max-width: 900px) {
  .projects .maincontainer .project-container .towerSec .mallSec .tower p {
    font-size: 22px;
  }
}

.collection .maincontainer .project-container .towerSec {
  width: 100%;
  flex-wrap: wrap;
}
@media screen and (max-width: 900px) {
  .collection .maincontainer .project-container .towerSec {
    display: block;
  }
}
.collection .maincontainer .project-container .towerSec .button {
  margin-top: 50px;
}
@media screen and (max-width: 900px) {
  .collection .maincontainer .project-container .towerSec .button button {
    margin-top: 10px;
    padding: 20px;
    width: 50%;
    font-size: 15px;
  }
}
@media screen and (max-width: 414px) {
  .collection .maincontainer .project-container .towerSec .button button {
    padding: 10px;
    margin-top: 20px;
    width: 90%;
    font-size: larger;
  }
}
.collection .maincontainer .project-container .towerSec .mallSec {
  flex-basis: 23%;
}
.collection .maincontainer .project-container .towerSec .mallSec img {
  width: 100%;
}
.collection .maincontainer .project-container .towerSec .mallSec .tower {
  text-align: center;
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
}
@media screen and (max-width: 900px) {
  .collection .maincontainer .project-container .towerSec .mallSec .tower h5 {
    font-size: 28px;
    margin: 20px 0;
  }
}
.collection .maincontainer .project-container .towerSec .mallSec .tower span {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #111010;
  color: rgba(17, 16, 16, 0.5);
  font-size: 12px;
}
@media screen and (max-width: 900px) {
  .collection .maincontainer .project-container .towerSec .mallSec .tower span {
    font-size: 22px;
  }
}
.collection .maincontainer .project-container .towerSec .mallSec .tower span:nth-child(2) {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  font-size: 8px;
  margin-right: 10px;
  text-decoration: line-through;
}
@media screen and (max-width: 900px) {
  .collection .maincontainer .project-container .towerSec .mallSec .tower span:nth-child(2) {
    font-size: 16px;
  }
}

.Related .maincontainer .project-container h3 {
  margin: 50px 0;
}

footer {
  background-color: #111010;
}
footer .maincontainer .footerSec {
  display: flex;
  margin-top: 100px;
  padding: 50px 0;
}
@media screen and (max-width: 900px) {
  footer .maincontainer .footerSec {
    display: block;
    text-align: center;
    padding: 30px;
  }
}
footer .maincontainer .footerSec .footer-first {
  flex-basis: 25%;
}
footer .maincontainer .footerSec .footer-first .brand {
  margin-top: 100px;
}
@media screen and (max-width: 900px) {
  footer .maincontainer .footerSec .footer-first .brand {
    margin-top: 50px;
  }
}
footer .maincontainer .footerSec .footer-first .brand i {
  color: #FFFFFF;
  margin-right: 10px;
}
@media screen and (max-width: 900px) {
  footer .maincontainer .footerSec .footer-first .brand i {
    margin-bottom: 20px;
  }
}
footer .maincontainer .footerSec .footer-first ul {
  margin-top: 30px;
}
footer .maincontainer .footerSec .footer-first ul li {
  line-height: 35px;
}
@media screen and (max-width: 900px) {
  footer .maincontainer .footerSec .footer-first ul li {
    line-height: 50px;
  }
}
footer .maincontainer .footerSec .footer-first ul li a {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  color: #a4a4a4;
}
footer .maincontainer .footerSec .footer-first p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  color: #FFFFFF;
  margin-top: 30px;
}
@media screen and (max-width: 900px) {
  footer .maincontainer .footerSec .footer-first p {
    margin-top: 10px;
  }
}
footer .maincontainer .footerSec h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #111010;
  color: #FFFFFF;
}
@media screen and (max-width: 900px) {
  footer .maincontainer .footerSec h4 {
    margin-top: 20px;
  }
}
footer .maincontainer .copyright {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
@media screen and (max-width: 900px) {
  footer .maincontainer .copyright {
    display: block;
    padding: 30px;
    text-align: center;
  }
}
footer .maincontainer .copyright p {
  text-decoration: none;
  color: #a4a4a4;
}
@media screen and (max-width: 900px) {
  footer .maincontainer .copyright p {
    margin-top: 20px;
  }
}

.catagories {
  background-image: url(../images/catalogBG.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 80vh;
  padding: 0;
}
.catagories .catalog-container {
  background-color: rgba(37, 37, 37, 0.45);
  width: 100%;
  height: 80vh;
}
.catagories .maincontainer {
  display: flex;
  justify-content: flex-start;
  height: 100%;
}
@media screen and (max-width: 900px) {
  .catagories .maincontainer .catalogImg {
    display: flex;
    justify-content: center;
  }
}
.catagories .maincontainer .newGenerationSec {
  background: none;
  height: auto;
}
.catagories .maincontainer .newGenerationSec p {
  font-size: 18px;
  color: #e4e4e4;
  margin-top: 50px;
}

.catagory {
  margin-top: 100px;
  background-image: url(../images/catogoriesBG.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.catagory .maincontainer {
  justify-content: space-between;
  display: flex;
}
@media screen and (max-width: 900px) {
  .catagory .maincontainer {
    display: block;
    padding: 20px;
  }
}
.catagory .maincontainer .catagoriesFirst {
  flex-basis: 23%;
  position: relative;
}
.catagory .maincontainer .catagoriesFirst span {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  font-size: 12px;
}
@media screen and (max-width: 900px) {
  .catagory .maincontainer .catagoriesFirst span {
    font-size: 20px;
  }
}
.catagory .maincontainer .catagoriesFirst h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #111010;
  font-size: 22px;
  color: #FFFFFF;
  margin: 10px 0;
}
@media screen and (max-width: 900px) {
  .catagory .maincontainer .catagoriesFirst h5 {
    font-size: 35px;
  }
}
.catagory .maincontainer .catagoriesFirst p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  font-size: 18px;
  color: #BCBCBC;
}
@media screen and (max-width: 900px) {
  .catagory .maincontainer .catagoriesFirst p {
    font-size: 25px;
  }
}
.catagory .maincontainer .catagoriesFirst:hover .catagoriesHover {
  visibility: visible;
}
.catagory .maincontainer .catagoriesFirst .catagoriesPara {
  position: relative;
}
.catagory .maincontainer .catagoriesFirst .catagoriesPara .paragraph {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.catagory .maincontainer .catagoriesFirst .catagoriesPara .bgImg img {
  width: 100%;
}
@media screen and (max-width: 900px) {
  .catagory .maincontainer .catagoriesFirst .catagoriesPara .bgImg {
    margin-bottom: 20px;
  }
}
.catagory .maincontainer .catagoriesFirst .catagoriesHover {
  background-color: #0A0A0A;
  padding: 25px;
  position: absolute;
  top: 0;
  visibility: hidden;
}

.ZurichSec .maincontainer .project-container .filterSec {
  margin: 70px 0;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .ZurichSec .maincontainer .project-container .filterSec {
    display: block;
  }
}
.ZurichSec .maincontainer .project-container .filterSec .results span {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #808080;
  font-size: 12px;
}
@media screen and (max-width: 900px) {
  .ZurichSec .maincontainer .project-container .filterSec .results {
    text-align: left;
    padding-left: 40px;
  }
}
.ZurichSec .maincontainer .project-container .filterSec .sortSec {
  flex-basis: 36%;
}
@media screen and (max-width: 900px) {
  .ZurichSec .maincontainer .project-container .filterSec .sortSec {
    text-align: center;
    padding: 20px;
  }
}
@media screen and (max-width: 414px) {
  .ZurichSec .maincontainer .project-container .filterSec .sortSec {
    text-align: left;
    padding-left: 40px;
  }
}
.ZurichSec .maincontainer .project-container .filterSec .sortSec img {
  margin-right: 5px;
}
@media screen and (max-width: 414px) {
  .ZurichSec .maincontainer .project-container .filterSec .sortSec img:nth-child(4) {
    display: none;
  }
}
.ZurichSec .maincontainer .project-container .filterSec .sortSec i {
  margin-right: 5px;
}
.ZurichSec .maincontainer .project-container .filterSec .sortSec span {
  color: #252525;
  font-size: 15px;
  margin-right: 8px;
}
@media screen and (max-width: 414px) {
  .ZurichSec .maincontainer .project-container .filterSec .sortSec span {
    display: none;
  }
}
.ZurichSec .maincontainer .project-container .filterSec .sortSec span:nth-child(3) {
  margin-left: 8px;
  margin-right: 0;
}

.promotional .maincontainer {
  display: block;
}
.promotional .maincontainer .imgcontainer {
  background: none;
  display: flex;
  padding: 0;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 900px) {
  .promotional .maincontainer .imgcontainer {
    display: block;
  }
}
.promotional .maincontainer .imgcontainer .ImgSec {
  flex-basis: 67%;
  clip-path: polygon(20% 0, 100% 1%, 100% 100%, 11% 100%, 15% 54%);
}
.promotional .maincontainer .imgcontainer .ImgSec img {
  width: 100%;
}
@media screen and (max-width: 900px) {
  .promotional .maincontainer .imgcontainer .ImgSec {
    padding-right: 50px;
  }
}
.promotional .maincontainer .imgcontainer .newGenerationSec {
  flex-basis: 33%;
  width: 100%;
  text-align: left;
  background: none;
  position: initial;
  padding: 0;
  white-space: no-wrap;
}
@media screen and (max-width: 900px) {
  .promotional .maincontainer .imgcontainer .newGenerationSec {
    width: 60%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 414px) {
  .promotional .maincontainer .imgcontainer .newGenerationSec {
    width: 80%;
  }
}

.newGenerationSec {
  width: 50%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.36);
}
@media screen and (max-width: 1155px) {
  .newGenerationSec {
    margin: auto;
    padding: 20px;
    height: 100%;
  }
}
@media screen and (max-width: 900px) {
  .newGenerationSec {
    width: 100%;
    padding: 20px;
    margin: 20px;
  }
}
.newGenerationSec h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #111010;
  font-size: 32px;
  color: #FFFFFF;
  margin: 20px 0;
}
@media screen and (max-width: 1155px) {
  .newGenerationSec h3 {
    margin: 50px;
    font-size: 42px;
    text-align: center;
  }
}
@media screen and (max-width: 900px) {
  .newGenerationSec h3 {
    font-size: 32px;
  }
}
.newGenerationSec p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ECECEC;
}
@media screen and (max-width: 900px) {
  .newGenerationSec p {
    width: 100%;
  }
}
.newGenerationSec .button button {
  margin-top: 20px;
  color: #000000;
  background-color: #FFFFFF;
}

.table {
  margin-bottom: 50px;
  background-color: #000000;
}
.table .maincontainer ul {
  display: flex;
  align-items: center;
  padding: 30px;
}
@media screen and (max-width: 900px) {
  .table .maincontainer ul {
    justify-content: center;
  }
}
.table .maincontainer ul li {
  font-family: "Poppins", sans-serif;
}
.table .maincontainer ul li a {
  margin: 0 6px 0 10px;
  text-transform: capitalize;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  font-size: 16px;
}
.table .maincontainer ul li img {
  width: 70%;
}

.maincontainer .discriptionHead {
  text-align: center;
  margin-bottom: 35px;
}
.maincontainer .discriptionHead span:nth-child(1) {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #979797;
}
@media screen and (max-width: 900px) {
  .maincontainer .discriptionHead span:nth-child(1) {
    margin-right: 10px;
  }
}
.maincontainer .discriptionHead span:nth-child(2) {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
}
@media screen and (max-width: 900px) {
  .maincontainer .discriptionHead span:nth-child(2) {
    margin-right: 10px;
  }
}
.maincontainer .discriptionHead span:nth-child(3) {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
}
.maincontainer .discriptionpara {
  width: 90%;
  margin: auto;
}
.maincontainer .discriptionpara p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}

.maincontainer .productName {
  display: grid;
  grid-template-columns: 16% 17% 29% 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 20px;
  grid-template-areas: "bigimg bigimg bigimg para para" "imgfirst imgSecond imgthird . .";
  margin-bottom: 100px;
}
@media screen and (max-width: 900px) {
  .maincontainer .productName {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 414) {
  .maincontainer .productName {
    display: block;
    margin-bottom: 50px;
  }
}
.maincontainer .productName .productbig-a {
  grid-area: bigimg;
}
@media screen and (max-width: 900px) {
  .maincontainer .productName .productbig-a {
    width: 100%;
    text-align: center;
    padding: 20px;
  }
}
@media screen and (max-width: 414px) {
  .maincontainer .productName .productbig-a img {
    width: 100%;
    margin: auto;
  }
}
.maincontainer .productName .productbig-b {
  grid-area: imgfirst;
}
@media screen and (max-width: 414px) {
  .maincontainer .productName .productbig-b img {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .maincontainer .productName .productbig-b {
    width: 43%;
    text-align: center;
  }
}
@media screen and (max-width: 414px) {
  .maincontainer .productName .productbig-b {
    width: 100%;
    margin: auto;
    padding: 20px;
  }
}
.maincontainer .productName .productbig-c {
  grid-area: imgSecond;
}
@media screen and (max-width: 414px) {
  .maincontainer .productName .productbig-c img {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .maincontainer .productName .productbig-c {
    width: 19%;
    text-align: center;
  }
}
@media screen and (max-width: 414px) {
  .maincontainer .productName .productbig-c {
    width: 100%;
    margin: auto;
    padding: 20px;
  }
}
.maincontainer .productName .productbig-d {
  grid-area: imgthird;
}
@media screen and (max-width: 414px) {
  .maincontainer .productName .productbig-d img {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .maincontainer .productName .productbig-d {
    width: 32%;
    text-align: center;
  }
}
@media screen and (max-width: 414px) {
  .maincontainer .productName .productbig-d {
    width: 100%;
    margin: auto;
    padding: 20px;
  }
}
.maincontainer .productName .heartcart {
  grid-area: para;
  padding: 20px;
}
@media screen and (max-width: 900px) {
  .maincontainer .productName .heartcart {
    width: 60%;
    margin: auto;
  }
}
@media screen and (max-width: 414px) {
  .maincontainer .productName .heartcart {
    width: 80%;
    margin: auto;
  }
}
.maincontainer .productName .heartcart h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #111010;
  font-size: 35px;
}
@media screen and (max-width: 900px) {
  .maincontainer .productName .heartcart h4 {
    font-size: 28px;
    text-align: center;
  }
}
.maincontainer .productName .heartcart span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 45px;
  color: #000000;
}
@media screen and (max-width: 900px) {
  .maincontainer .productName .heartcart span {
    font-size: 18px;
    text-align: center;
  }
}
.maincontainer .productName .heartcart p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #616161;
  font-size: 14px;
  margin-bottom: 30px;
}
.maincontainer .productName .heartcart .dolor {
  margin-top: 40px;
}
.maincontainer .productName .heartcart .dolor p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin: 15px 0;
}
.maincontainer .productName .heartcart .dolor p::before {
  content: "•";
  padding-right: 10px;
}
.maincontainer .productName .heartcart .plus {
  display: flex;
  align-items: center;
  margin: 70px 20px 0 0;
}
@media screen and (max-width: 414px) {
  .maincontainer .productName .heartcart .plus {
    display: block;
    margin: 0;
  }
}
.maincontainer .productName .heartcart .plus .minus {
  padding: 5px 21px;
  width: 130px;
  margin-right: 20px;
  border: 1px solid black;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 414px) {
  .maincontainer .productName .heartcart .plus .minus {
    width: 60%;
  }
}
.maincontainer .productName .heartcart .plus .minus input {
  border: none;
  outline: none;
  width: 54px;
  padding: 10px;
  text-align: center;
}
@media screen and (max-width: 414px) {
  .maincontainer .productName .heartcart .plus .minus input {
    width: 100%;
  }
}
.maincontainer .productName .heartcart .plus .button {
  margin-right: 10px;
}
@media screen and (max-width: 414px) {
  .maincontainer .productName .heartcart .plus .button {
    margin: auto;
  }
}
.maincontainer .productName .heartcart .plus .button button {
  text-transform: capitalize;
  padding: 17px;
}
@media screen and (max-width: 414px) {
  .maincontainer .productName .heartcart .plus .button button {
    text-align: center;
  }
}
.maincontainer .productName .heartcart .plus i {
  border: 1px solid black;
  padding: 10px;
  margin-right: 10px;
}
@media screen and (max-width: 900px) {
  .maincontainer .productName .heartcart .plus i {
    margin-left: 15px;
  }
}
@media screen and (max-width: 414px) {
  .maincontainer .productName .heartcart .plus i {
    display: none;
  }
}

.ShopingCartPage .maincontainer h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #111010;
  font-size: 32px;
  margin-bottom: 10px;
}
@media screen and (max-width: 900px) {
  .ShopingCartPage .maincontainer h4 {
    padding: 20px;
  }
}
@media screen and (max-width: 414px) {
  .ShopingCartPage .maincontainer h4 {
    text-align: center;
  }
}
@media screen and (max-width: 414px) {
  .ShopingCartPage .maincontainer .backbutton {
    margin-left: 20px;
  }
}
@media screen and (max-width: 900px) {
  .ShopingCartPage .maincontainer .backbutton {
    padding: 20px;
  }
}
.ShopingCartPage .maincontainer .backbutton p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  font-size: 18px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 414px) {
  .ShopingCartPage .maincontainer .backbutton p {
    display: block;
  }
}
.ShopingCartPage .maincontainer .backbutton button {
  background: none;
}
.ShopingCartPage .maincontainer .backbutton button img {
  margin-right: 5px;
}
.ShopingCartPage .maincontainer .ShopingcartSec {
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .ShopingCartPage .maincontainer .ShopingcartSec {
    display: block;
    padding: 30px;
    margin-top: 50px;
  }
}
@media screen and (max-width: 414px) {
  .ShopingCartPage .maincontainer .ShopingcartSec {
    padding: 20px;
    margin-top: 0;
  }
}
.ShopingCartPage .maincontainer .ShopingcartSec .unitPriceSec {
  flex-basis: 62%;
  padding: 20px 10px;
  background: #FAFAFA;
}
@media screen and (max-width: 900px) {
  .ShopingCartPage .maincontainer .ShopingcartSec .unitPriceSec {
    display: block;
  }
}
.ShopingCartPage .maincontainer .ShopingcartSec .unitPriceSec .cartHead {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  padding: 10px;
}
@media screen and (max-width: 414px) {
  .ShopingCartPage .maincontainer .ShopingcartSec .unitPriceSec .cartHead {
    display: none;
  }
}
.ShopingCartPage .maincontainer .ShopingcartSec .unitPriceSec .cartHead li {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #111010;
  font-size: 16px;
}
.ShopingCartPage .maincontainer .ShopingcartSec .unitPriceSec .firstItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
}
@media screen and (max-width: 414px) {
  .ShopingCartPage .maincontainer .ShopingcartSec .unitPriceSec .firstItem {
    display: block;
  }
}
.ShopingCartPage .maincontainer .ShopingcartSec .unitPriceSec .firstItem p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  font-size: 16px;
  color: #151515;
}
@media screen and (max-width: 414px) {
  .ShopingCartPage .maincontainer .ShopingcartSec .unitPriceSec .firstItem p {
    font-size: 22px;
  }
}
@media screen and (max-width: 414px) {
  .ShopingCartPage .maincontainer .ShopingcartSec .unitPriceSec .firstItem p:nth-child(4) {
    display: none;
  }
}
.ShopingCartPage .maincontainer .ShopingcartSec .unitPriceSec .firstItem .qtycart {
  display: flex;
  align-items: center;
  padding: 5px;
}
.ShopingCartPage .maincontainer .ShopingcartSec .unitPriceSec .firstItem .qtycart input {
  outline: none;
  border: none;
  width: 50px;
  text-align: center;
}
.ShopingCartPage .maincontainer .ShopingcartSec .unitPriceSec .firstItem .qtycart img {
  border: 1px solid black;
  padding: 11px;
}
.ShopingCartPage .maincontainer .ShopingcartSec .unitPriceSec .firstItem .qtycart img:nth-child(1) {
  padding: 13px;
}
@media screen and (max-width: 414px) {
  .ShopingCartPage .maincontainer .ShopingcartSec .unitPriceSec .firstItem .delete {
    display: none;
  }
}
.ShopingCartPage .maincontainer .ShopingcartSec .unitPriceSec .firstItem .ItemFirst {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 414px) {
  .ShopingCartPage .maincontainer .ShopingcartSec .unitPriceSec .firstItem .ItemFirst {
    display: block;
  }
}
.ShopingCartPage .maincontainer .ShopingcartSec .unitPriceSec .firstItem .ItemFirst img {
  margin-right: 20px;
}
@media screen and (max-width: 414px) {
  .ShopingCartPage .maincontainer .ShopingcartSec .unitPriceSec .firstItem .ItemFirst img {
    width: 100%;
    margin: 0;
  }
}
.ShopingCartPage .maincontainer .ShopingcartSec .unitPriceSec .firstItem .ItemFirst span {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  font-size: 16px;
  color: #151515;
}
@media screen and (max-width: 414px) {
  .ShopingCartPage .maincontainer .ShopingcartSec .unitPriceSec .firstItem .ItemFirst span {
    display: block;
    font-size: 28px;
  }
}
.ShopingCartPage .maincontainer .ShopingcartSec .unitPriceSec .firstItem .ItemFirst p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  font-size: 14px;
  color: #A2A2A2;
}
@media screen and (max-width: 414px) {
  .ShopingCartPage .maincontainer .ShopingcartSec .unitPriceSec .firstItem .ItemFirst p {
    font-size: 20px;
  }
}

.maincontainer h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #111010;
  font-size: 32px;
  margin-bottom: 10px;
}
@media screen and (max-width: 900px) {
  .maincontainer h4 {
    padding: 20px;
  }
}
@media screen and (max-width: 414px) {
  .maincontainer h4 {
    text-align: center;
  }
}
@media screen and (max-width: 414px) {
  .maincontainer .backbutton {
    margin-left: 20px;
  }
}
@media screen and (max-width: 900px) {
  .maincontainer .backbutton {
    padding: 20px;
  }
}
.maincontainer .backbutton p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  font-size: 18px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 414px) {
  .maincontainer .backbutton p {
    display: block;
  }
}
.maincontainer .backbutton button {
  background: none;
}
.maincontainer .backbutton button img {
  margin-right: 5px;
}
.maincontainer .backbutton {
  background: none;
}
.maincontainer .MainCheckoutContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
@media screen and (max-width: 900px) {
  .maincontainer .MainCheckoutContainer {
    display: block;
    padding: 30px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 414px) {
  .maincontainer .MainCheckoutContainer {
    display: block;
    padding: 20px;
    margin-top: 10px;
  }
}
.maincontainer .MainCheckoutContainer .CheckoutContainer {
  flex-basis: 31%;
  padding: 20px;
  background: #FAFAFA;
}
.maincontainer .MainCheckoutContainer .CheckoutContainer input {
  margin-bottom: 20px;
  background: #FFFFFF;
  padding: 10px;
  width: 100%;
  border: 1px solid rgba(130, 130, 130, 0.4);
  outline: none;
}
.maincontainer .MainCheckoutContainer .CheckoutContainer input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: rgba(130, 130, 130, 0.85);
}
.maincontainer .MainCheckoutContainer .CheckoutContainer input[type=checkbox] {
  margin-bottom: 0;
  width: initial;
}
.maincontainer .MainCheckoutContainer .CheckoutContainer input[type=radio] {
  margin-bottom: 0;
  width: initial;
}
.maincontainer .MainCheckoutContainer .CheckoutContainer select {
  margin-bottom: 20px;
  background: #FFFFFF;
  padding: 10px;
  width: 100%;
  border: 1px solid rgba(130, 130, 130, 0.4);
  outline: none;
  color: rgba(130, 130, 130, 0.85);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}
.maincontainer .MainCheckoutContainer .CheckoutContainer .AccountCreate .mrs-mr {
  display: flex;
  margin-bottom: 20px;
}
.maincontainer .MainCheckoutContainer .CheckoutContainer .AccountCreate .mrs-mr .MR input[type=radio] {
  width: 50px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid color rgba(130, 130, 130, 0.85);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  -webkit-appearance: none;
  -moz-appearance: none;
}
.maincontainer .MainCheckoutContainer .CheckoutContainer .AccountCreate .mrs-mr .MR input[type=radio]:focus {
  outline: none;
}
.maincontainer .MainCheckoutContainer .CheckoutContainer .AccountCreate .mrs-mr .MR input[type=radio]:checked {
  background-color: #000000;
}
.maincontainer .MainCheckoutContainer .CheckoutContainer .AccountCreate .mrs-mr .MR input[type=radio]:checked ~ span {
  color: white;
}
.maincontainer .MainCheckoutContainer .CheckoutContainer .AccountCreate .mrs-mr .MR span:first-of-type {
  position: relative;
  left: -40px;
  top: -14px;
  font-size: 15px;
  color: #000000;
  cursor: pointer;
}
.maincontainer .MainCheckoutContainer .CheckoutContainer .AccountCreate .passwordEmail {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.maincontainer .MainCheckoutContainer .CheckoutContainer .AccountCreate .passwordEmail img {
  width: 4%;
  margin-right: 5px;
}
.maincontainer .MainCheckoutContainer .CheckoutContainer .AccountCreate .passwordEmail span {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #828282;
}
.maincontainer .MainCheckoutContainer .CheckoutContainer .AccountCreate .street {
  display: flex;
  justify-content: space-between;
}
.maincontainer .MainCheckoutContainer .CheckoutContainer .AccountCreate .street input {
  flex-basis: 60%;
  width: 100%;
}
.maincontainer .MainCheckoutContainer .CheckoutContainer .AccountCreate .street input:nth-child(2) {
  flex-basis: 38%;
}
.maincontainer .MainCheckoutContainer .CheckoutContainer .AccountCreate .pincode {
  display: flex;
  justify-content: space-between;
}
.maincontainer .MainCheckoutContainer .CheckoutContainer .AccountCreate .pincode input::-webkit-outer-spin-button,
.maincontainer .MainCheckoutContainer .CheckoutContainer .AccountCreate .pincode input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.maincontainer .MainCheckoutContainer .CheckoutContainer .AccountCreate .pincode input {
  flex-basis: 37%;
  width: 100%;
}
.maincontainer .MainCheckoutContainer .CheckoutContainer .AccountCreate .pincode input:nth-child(2) {
  flex-basis: 60%;
}
.maincontainer .MainCheckoutContainer .CheckoutContainer .AccountCreate .tickBox {
  margin: 20px 0;
  display: flex;
}
.maincontainer .MainCheckoutContainer .CheckoutContainer .AccountCreate .tickBox label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  margin-left: 10px;
}
.maincontainer .MainCheckoutContainer .CheckoutContainer .AccountCreate .phoneNum input::-webkit-outer-spin-button,
.maincontainer .MainCheckoutContainer .CheckoutContainer .AccountCreate .phoneNum input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.maincontainer .MainCheckoutContainer .CheckoutContainer .AccountCreate .phoneNum input {
  margin-bottom: 4px;
}
.maincontainer .MainCheckoutContainer .CheckoutContainer .AccountCreate .phoneNum p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: rgba(130, 130, 130, 0.85);
  margin-bottom: 20px;
}
.maincontainer .MainCheckoutContainer .CheckoutContainer .AccountCreate .ShipingAddr {
  margin: 20px 0;
}
.maincontainer .MainCheckoutContainer .CheckoutContainer .AccountCreate:nth-child(2) {
  margin-top: 30px;
}
.maincontainer .MainCheckoutContainer .paymentSec {
  flex-basis: 31%;
}
.maincontainer .MainCheckoutContainer .paymentSec input::-webkit-outer-spin-button,
.maincontainer .MainCheckoutContainer .paymentSec input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.maincontainer .MainCheckoutContainer .paymentSec .CC {
  background: #FAFAFA;
  padding: 30px 20px;
}
.maincontainer .MainCheckoutContainer .paymentSec input {
  margin-bottom: 20px;
  background: #FFFFFF;
  padding: 10px;
  width: 100%;
  border: 1px solid rgba(130, 130, 130, 0.4);
  outline: none;
}
.maincontainer .MainCheckoutContainer .paymentSec input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: rgba(130, 130, 130, 0.85);
}
.maincontainer .MainCheckoutContainer .paymentSec input[type=checkbox] {
  margin-bottom: 0;
  width: initial;
}
.maincontainer .MainCheckoutContainer .paymentSec input[type=radio] {
  margin-bottom: 0;
  width: initial;
}
.maincontainer .MainCheckoutContainer .paymentSec .creditCard {
  display: flex;
  justify-content: space-between;
}
.maincontainer .MainCheckoutContainer .paymentSec .creditCard input {
  flex-basis: 37%;
  width: 100%;
}
.maincontainer .MainCheckoutContainer .paymentSec .creditCard input:nth-child(2) {
  flex-basis: 60%;
}
.maincontainer .MainCheckoutContainer .paymentSec .paypal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  background: #FAFAFA;
  padding: 30px 20px;
}
.maincontainer .MainCheckoutContainer .paymentSec .paypal .paypalFirst {
  display: flex;
  align-items: center;
  font-family: "Proxima Nova";
}
.maincontainer .MainCheckoutContainer .paymentSec .paypal .paypalFirst .paypalImg {
  border: 1px solid rgba(130, 130, 130, 0.85);
}
.maincontainer .MainCheckoutContainer .paymentSec .paypal .paypalFirst .paypalImg img {
  width: 100%;
}
.maincontainer .MainCheckoutContainer .paymentSec .paypal .paypalFirst label {
  margin-left: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.85);
}
.maincontainer .MainCheckoutContainer .CheckoutLast {
  padding: 20px;
  background: #FAFAFA;
  flex-basis: 35%;
}
.maincontainer .MainCheckoutContainer .CheckoutLast .article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.maincontainer .MainCheckoutContainer .CheckoutLast .article p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  line-height: 21px;
  margin-bottom: 35px;
}
.maincontainer .MainCheckoutContainer .CheckoutLast .Article-a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.maincontainer .MainCheckoutContainer .CheckoutLast .Article-a .ArticleImg {
  display: flex;
}
.maincontainer .MainCheckoutContainer .CheckoutLast .Article-a .ArticleImg .Article-b {
  margin-left: 10px;
}
.maincontainer .MainCheckoutContainer .CheckoutLast .Article-a .ArticleImg .Article-b p {
  margin-bottom: 7px;
}
.maincontainer .MainCheckoutContainer .CheckoutLast .Article-a .ArticleImg .Article-b p:nth-child(1) {
  font-weight: bold;
}
.maincontainer .MainCheckoutContainer .CheckoutLast .Article-a .ArticleImg .Article-b p:nth-child(3) {
  font-size: larger;
  font-weight: bold;
}
.maincontainer .MainCheckoutContainer .CheckoutLast .Article-a .ArticleImg .Article-b p:nth-child(2) {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  font-size: 18px;
  color: rgba(130, 130, 130, 0.85);
  line-height: 14px;
}
.maincontainer .MainCheckoutContainer .CheckoutLast .Article-a .ArticleImg .Article-b p:nth-child(4) {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  font-size: 18px;
  color: rgba(130, 130, 130, 0.85);
  line-height: 14px;
}
.maincontainer .MainCheckoutContainer .CheckoutLast .CheckedOutLast {
  padding: 0 20px;
}
.maincontainer .MainCheckoutContainer .CheckoutLast .CheckedOutLast .WorkedDays {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  font-size: 16px;
  color: rgba(130, 130, 130, 0.85);
  line-height: 14px;
  margin-bottom: 60px;
}
.maincontainer .MainCheckoutContainer .CheckoutLast .CheckedOutLast .Subtotal {
  margin-bottom: 12px;
  align-items: center;
}
.maincontainer .MainCheckoutContainer .CheckoutLast .CheckedOutLast .Subtotal .ship p {
  margin-bottom: 10px;
  font-size: 22px;
}
.maincontainer .MainCheckoutContainer .CheckoutLast .CheckedOutLast .Subtotal .ship span {
  font-size: 16px;
}
.maincontainer .MainCheckoutContainer .CheckoutLast .CheckedOutLast .Subtotal .sar span {
  font-size: 16px;
}
.maincontainer .MainCheckoutContainer .CheckoutLast .CheckedOutLast .Subtotal .sar p {
  margin-bottom: 4px;
  line-height: 20.57px;
  font-size: 20px;
}
.maincontainer .MainCheckoutContainer .CheckoutLast .CheckedOutLast .Simply {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: rgba(130, 130, 130, 0.85);
  margin-top: 20px;
}
.maincontainer .MainCheckoutContainer .CheckoutLast .CheckedOutLast .VAT {
  margin-top: 25px;
}
.maincontainer .MainCheckoutContainer .CheckoutLast .CheckedOutLast .VAT span {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  font-size: 15px;
  color: rgba(130, 130, 130, 0.85);
  line-height: 18px;
}
.maincontainer .MainCheckoutContainer .CheckoutLast .CheckedOutLast .VAT .tot p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  font-size: 20px;
  color: #000000;
  font-weight: 500;
  line-height: 17px;
  margin-bottom: 14px;
}
.maincontainer .MainCheckoutContainer .CheckoutLast .CheckedOutLast .VAT .include {
  text-align: right;
}
.maincontainer .MainCheckoutContainer .CheckoutLast .CheckedOutLast .VAT .include p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  font-size: 22px;
  color: #000000;
  line-height: 21px;
  margin-bottom: 9px;
}
.maincontainer .MainCheckoutContainer .CheckoutLast .CheckedOutLast .Redeem input {
  flex-basis: 55%;
}
.maincontainer .MainCheckoutContainer .CheckoutLast .CheckedOutLast .Redeem .button button {
  width: 100%;
}
@media screen and (max-width: 414px) {
  .maincontainer .MainCheckoutContainer .CheckoutLast .CheckedOutLast .Redeem .button button {
    margin-top: 0;
  }
}

/*# sourceMappingURL=style.css.map */
