.table {
    margin-bottom: 50px;
    background-color: $black;
    .maincontainer {
        ul {
            display: flex;
            align-items: center;
            padding: 30px;
            @media screen and(max-width: 900px) {
                justify-content: center;
            }
            li {
                font-family: 'Poppins', sans-serif;
                a {
                    margin: 0 6px 0 10px;
                    text-transform: capitalize;
                    @include paragraph;
                    color: $white;
                    font-size: 16px;
                }
                img {
                    width: 70%;
                }
            }
        }
    }
}

.maincontainer {
    .discriptionHead {
        text-align: center;
        margin-bottom: 35px;
        span {
            &:nth-child(1) {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 30px;
                color: #979797;
                @media screen and(max-width: 900px) {
                    margin-right: 10px;
                }
            }
            &:nth-child(2) {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
                line-height: 30px;
                color: $black;
                @media screen and(max-width: 900px) {
                    margin-right: 10px;
                }
            }
            &:nth-child(3) {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
                line-height: 30px;
                color: $black;
            }
        }
    }
    .discriptionpara {
        width: 90%;
        margin: auto;
        p {
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
            color: $black;
        }
    }
}

.maincontainer {
    .productName {
        display: grid;
        grid-template-columns: 16% 17% 29% 1fr 1fr;
        grid-template-rows: auto;
        row-gap: 20px;
        grid-template-areas: "bigimg bigimg bigimg para para" "imgfirst imgSecond imgthird . .";
        margin-bottom: 100px;
        @media screen and(max-width: 900px) {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 50px;
        }
        @media screen and(max-width: 414) {
            display: block;
            margin-bottom: 50px;
        }
        .productbig-a {
            grid-area: bigimg;
            @media screen and(max-width: 900px) {
                width: 100%;
                text-align: center;
                padding: 20px;
            }
            img {
                @media screen and(max-width: 414px) {
                    width: 100%;
                    margin: auto;
                }
            }
        }
        .productbig-b {
            grid-area: imgfirst;
            img {
                @media screen and(max-width: 414px) {
                    width: 100%;
                }
            }
            @media screen and(max-width: 900px) {
                width: 43%;
                text-align: center;
            }
            @media screen and(max-width: 414px) {
                width: 100%;
                margin: auto;
                padding: 20px;
            }
        }
        .productbig-c {
            grid-area: imgSecond;
            img {
                @media screen and(max-width: 414px) {
                    width: 100%;
                }
            }
            @media screen and(max-width: 900px) {
                width: 19%;
                text-align: center;
            }
            @media screen and(max-width: 414px) {
                width: 100%;
                margin: auto;
                padding: 20px;
            }
        }
        .productbig-d {
            grid-area: imgthird;
            img {
                @media screen and(max-width: 414px) {
                    width: 100%;
                }
            }
            @media screen and(max-width: 900px) {
                width: 32%;
                text-align: center;
            }
            @media screen and(max-width: 414px) {
                width: 100%;
                margin: auto;
                padding: 20px;
            }
        }
        .heartcart {
            grid-area: para;
            padding: 20px;
            @media screen and(max-width: 900px) {
                width: 60%;
                margin: auto;
            }
            @media screen and(max-width: 414px) {
                width: 80%;
                margin: auto;
            }
            h4 {
                @include header;
                font-size: 35px;
                @media screen and(max-width: 900px) {
                    font-size: 28px;
                    text-align: center;
                }
            }
            span {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 25px;
                line-height: 45px;
                color: $black;
                @media screen and(max-width: 900px) {
                    font-size: 18px;
                    text-align: center;
                }
            }
            p {
                @include paragraph;
                color: $para;
                font-size: 14px;
                margin-bottom: 30px;
            }
            .dolor {
                margin-top: 40px;
                p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: $black;
                    margin: 15px 0;
                    &::before {
                        content: "\2022";
                        padding-right: 10px;
                    }
                }
            }
            .plus {
                display: flex;
                align-items: center;
                margin: 70px 20px 0 0;
                @media screen and(max-width: 414px) {
                    display: block;
                }
                .minus {
                    padding: 5px 21px;
                    width: 130px;
                    margin-right: 20px;
                    border: 1px solid black;
                    display: flex;
                    align-items: center;
                    @media screen and(max-width: 414px) {
                        width: 60%;
                    }
                    input {
                        border: none;
                        outline: none;
                        width: 54px;
                        padding: 10px;
                        text-align: center;
                        @media screen and(max-width: 414px) {
                            width: 100%;
                        }
                    }
                }
                .button {
                    margin-right: 10px;
                    @media screen and(max-width: 414px) {
                        margin: auto;
                    }
                    button {
                        text-transform: capitalize;
                        padding: 17px;
                        @media screen and(max-width: 414px) {
                            text-align: center;
                        }
                    }
                }
                i {
                    border: 1px solid black;
                    padding: 10px;
                    margin-right: 10px;
                    @media screen and(max-width: 900px) {
                        margin-left: 15px;
                    }
                    @media screen and(max-width: 414px) {
                        display: none;
                    }
                }
            }
        }
    }
}